<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.moneysaving.app">
    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/appicon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/appicon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".CategoriesList">

        </activity>
        <activity android:name=".test" />
        <activity android:name=".SetthingsActivity" />
        <activity android:name=".SettingActivity" />
        <activity android:name=".Supportamount" />
        <activity android:name=".supportpriority" />
        <activity android:name=".ViewProfile" />
        <activity android:name=".Addincome" />
        <activity android:name=".Addexpense" />
        <activity android:name=".amount" />
        <activity android:name=".expense" />
        <activity android:name=".priority" />
        <activity android:name=".adduincome" />
        <activity android:name=".UserDetails" />
        <activity android:name=".Adminpanel" />
        <activity android:name=".SignUpActivity" />
        <activity
            android:name=".UserProfile"
            android:label="@string/title_activity_user_profile" />
        <activity android:name=".LoginActivity">

        </activity>
        <activity android:name=".myprofile" />
        <activity android:name="com.moneysaving.SplashScreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>